form {
  display: flex;
  flex-direction: column;
  gap:30px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  .search {
    width: 400px;
    height: 40px;
    border: 3px solid #f53030;
    border-radius: 10px;
    font: 400 25px/1.1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    @media(max-width: 768px) {
      width: 300px;
      height: 40px;
    }
    &:focus {
      outline: none;
      border: 5px solid #f53030;
      box-shadow: 3px 3px 10px #f53030;
    }
  }
  button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #ef3636;
    color: #f1e7e7;
    font-size: 20px;
    font-family: 'Oswald';
    font-weight: 400;
    cursor: pointer;
    &:hover {
      border: none;
      background-color: #f1e7e7;
      color: #ef3636;
    }
  }

}
.no-results {
  margin-top: 50px;
  h2 {
    text-align: center;
    font: 400 50px/1.1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
  }
}
.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  gap:30px;
  padding: 50px;
  .card {
    width: 100%;
    max-width: 200px;
    min-height: 210px;
    overflow: hidden;
    transition: transform 0.3s ease;
    .link {
      text-decoration: none;
    }
    &:hover {
      transform: scale(1.2);
      .name {
        background: #ef3636;
        h3 {
          color: #151515;
        }
      }
    }
    img {
      object-fit: cover;
      width: 100%;
    }
    .name {
      max-width: 192px;
      height: 200px;
      background-color: #151515;
      position: relative;
      padding-top: 30px;
      padding-left: 10px;
      transition: transform 0.3s ease;
      &:after {
        border-color: transparent #fff transparent transparent;
        border-style: solid;
        border-width: 12px 12px 0 0;
        bottom: 0;
        content: "";
        position: absolute;
        right: 0;
        top: auto;
        z-index: 40;
      }
      h3 {
        color: #ffffff;
        font: 400 25px/1.1 RobotoCondensed Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
}
.pagination {
  width: 300px;
  margin: 40px auto;
  @media(max-width: 768px) {
    width: 400px;
    height: 40px;
  }


}